body{
  background:black;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each with equal width */
  grid-template-rows: repeat(4, 1fr); /* 4 rows, each with equal height */
  gap: 10px; /* Adjust the gap between boxes as needed */
}

.grid-item {
  background-color:#f0ece2;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  color:black;
}